<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="null">

    <appender name="SystemOut" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{ABSOLUTE} %5.5p %70.40c - %m%n"/>
        </layout>
    </appender>

    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param name="Blocking" value="false"/>
        <param name="BufferSize" value="10480"/>
        <appender-ref ref="SystemOut"/>
    </appender>

    <logger name="mx.sep.seguridad"><level value="${modo.log}"/></logger>
    <logger name="org.apache.ibatis"><level value="${modo.log}"/></logger>
    
    <logger name="org.springframework.security"><level value="${modo.log}"/></logger>
    <logger name="org.springframework.security.access"><level value="${modo.log}"/></logger>

    <logger name="org.springframework.security.web"><level value="${modo.log}"/></logger>
    <logger name="org.springframework.security.core"><level value="${modo.log}"/></logger>
    <logger name="org.springframework.security.config.http"><level value="${modo.log}"/></logger>
    <logger name="org.springframework.security.config"><level value="${modo.log}"/></logger>    

    <root>
        <priority value ="warn"/>
        <appender-ref ref="ASYNC"/>
    </root>
</log4j:configuration>